<div class="wrapper">
    <div
        class="card"
        [@visibilityChanged]="parts[0]"
    >
        <div class="text-center">
            <img src="assets/images/carnation.png" />
        </div>
        <div class="card-content text-center">
            <p>您收到來自HAO的信。</p>
        </div>
        <div class="card-action">
            <button class="btn btn-orange" (click)="onClickStart()">開啟</button>
        </div>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[1]">
        <p class="ani-p">那年夏天</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[2]">
        <img src="assets/images/baby.png" />
        <p class="ani-p">我以小嬰兒的姿態誕生於這個家庭</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[3]">
        <img src="assets/images/child.png" />
        <p class="ani-p">後來上了小學</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[4]">
        <img src="assets/images/boy.png" />
        <p class="ani-p">升上了國中</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[5]">
        <img src="assets/images/worry.png" />
        <p class="ani-p">這時的我不懂事，令媽媽擔心</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[6]">
        <img src="assets/images/bad_history.png" />
        <p class="ani-p">是個黑歷史呀～</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[7]">
        <img src="assets/images/senior.png" />
        <p class="ani-p">從高中開始為自己找人生的道路</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[8]">
        <p class="ani-p">如今，我將要大學畢業</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[9]">
        <img src="assets/images/programming_man.png" />
        <p class="ani-p">要去當工程師賺大錢了</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[10]">
        <p class="ani-p">這段時間，辛苦媽媽了</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[11]">
        <p class="ani-p">媽媽總是把最好的給我們</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[12]">
        <p class="ani-p">我們很感激！</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[13]">
        <p class="ani-p">但，要對自己好一點知道嗎！</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[14]">
        <p class="ani-p">不用擔心我們有沒有吃飽</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[15]">
        <p class="ani-p">我們會好好照顧自己</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[16]">
        <p class="ani-p">未來的日子，換我們來照顧媽媽吧！</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[17]">
        <p class="ani-p">媽媽，母親節快樂。</p>
    </div>
    <div class="text-center" [@visibilityChanged]="parts[18]">
        <img src="assets/images/hahako_boy.png" />
        <br/>
        <button class="btn btn-orange" (click)="reset()">重播</button>
    </div>
</div>
